.claude
node_modules
dist
.planning
.output
.env
.nuxt
TODO.md
coverage
android/local.properties
android/.gradle
android/.idea
android/app/build
android/build
android/captures
android/app/release
android/capacitor-cordova-android-plugins/build